    <!--BOX GAME LIST-->
    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-3">
        <a href="#">
            <img src="{{ site.url }}{{ gamesData["games"].image-dih }}" alt="" />
            <div class="caption">
                <span class="label label-warning">PC</span>
                <h3>Descend Into Heaven</h3>
                <p>Director cut development se esta realizando por estos dias en la base de Spoonman Games, esta versión mejorada trae muchas sorpresas y correcciones, ¿estas seguro que quieres bajar al cielo? averigualo...</p>
            </div>
        </a>
    </div>
